<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94862128843-vm6o24bgmm260vamne4r6llbbnoeu6ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94862128843-vm6o24bgmm260vamne4r6llbbnoeu6ei</string>
	<key>API_KEY</key>
	<string>AIzaSyDoM4rI9S3GlW_QxgiJSJkkbI01jTHJnP0</string>
	<key>GCM_SENDER_ID</key>
	<string>94862128843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-2ade9</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-2ade9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94862128843:ios:0c815d637a881b8b5e8d4e</string>
</dict>
</plist>